<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224692860088-rhk91qpcb07u8lu3vlrdgn8rpqkrqvfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224692860088-rhk91qpcb07u8lu3vlrdgn8rpqkrqvfs</string>
	<key>API_KEY</key>
	<string>AIzaSyCw37W9AoM3he4vN7xtu6nUP91e2OYlZAA</string>
	<key>GCM_SENDER_ID</key>
	<string>224692860088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatRoom</string>
	<key>PROJECT_ID</key>
	<string>chat-app-com-pk</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-com-pk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224692860088:ios:b7db255b63665785d5304d</string>
</dict>
</plist>